.rechargeText{
    
}
.rechargeInputsAmount{
    width:100%;
    height: 5vh;
    padding:5px 5px 5px 50px;
    border-radius: 8px;
}
.rechargeInputs{
    width:100%;
    height: 5vh;
    padding:5px 5px;
    border-radius: 8px;
}
.rechargeRowClass{
    text-align: left;
}
.static-value-Recharge{
	position:absolute;
	left:10px;
	font-weight:bold;
	font-size:1rem;
	color:#444;
	top:1vh;
}
.createAccountPay{
    display: block;
    width: 100%;
    height:100%;
}
.form-text-Recharge{
    position: relative;
    width: 100%;
}
.rechargeCodeClass{
    text-align: right;
}
.verify-code-recharge{
    border-color: green;
    border-radius: 8px;
}
@media not all and (min-height: 900px) {
    .static-value-Recharge{
        position:absolute;
        left:10px;
        font-weight:bold;
        font-size:1rem;
        color:#444;
        top:8px;
    }
    .rechargeInputs{
        width:100%;
        height: 40px;
        padding:5px 5px;
        border-radius: 8px;
    }
    .rechargeInputsAmount{
        width:100%;
        height: 40px;
        padding:5px 5px 5px 50px;
        border-radius: 8px;
    }
}
@media not all and (min-width: 620px) {
    .static-value-Recharge{
        position:absolute;
        left:10px;
        font-weight:bold;
        font-size:1rem;
        color:#444;
        top:8pxh;
    }
    .rechargeText{
        font-size: 3.5vw;
    }
    .rechargeInputs{
        width:100%;
        height: 40px;
        padding:5px 5px;
        border-radius: 8px;
    }
    .rechargeInputsAmount{
        width:100%;
        height: 40px;
        padding:5px 5px 5px 50px;
        border-radius: 8px;
    }
}
@media not all and (max-width: 620px) {
        
    .static-value-Recharge{
            position:absolute;
            left:10px;
            font-weight:bold;
            font-size:1.1rem;
            color:#444;
            top:1vh;
    }
}

