.btnJourney{
    padding-left: 50px;
    padding-right: 50px;
}

.btnRecharge{
    padding-left: 43px;
    padding-right: 43px;
}

.thumbnail{
    max-width: 11rem;
    max-height: 11rem;
    min-width: 11rem;
    min-height: 11rem;
    margin : 10px;
    cursor: pointer;
}

.row{
    margin-left: 0px;
    margin-right : 0px;
}

.homemaincard{
    border : none;
}

.colJourney{
    margin : 10px;
}

.colRecharge{
    margin : 10px;
}