.btnJourney{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btnRecharge{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}